<!doctype html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=" type="image/x-icon">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.desc }}">
        <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/base{{ gm.cssMin }}.css">
         <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/buttons{{ gm.cssMin }}.css">
          <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/forms{{ gm.cssMin }}.css">
          <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/grids{{ gm.cssMin }}.css">
           <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/grids-responsive{{ gm.cssMin }}.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/pure/1.0.0/menus{{ gm.cssMin }}.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/menu.css?ver=1.0">
        <link rel="stylesheet" href="{{ base_url() }}/css/style.css?ver=1.0">
        {% block csscontent %} {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'partials/nav.twig' %}
            {% block content %} {% endblock %}
            {% include 'partials/footer.twig' %}
        </div>
         {% block jscontent %} {% endblock %}
    </body>
</html>